# Python
__pycache__/
*.pyc
*.pyo
.env
venv/
*.egg-info/

# Node / React
node_modules/
build/

# Environment
.env
.env.local
.env.production

# AWS
*.pem
.aws/
cert-validation.json
task-definition.json
trust-policy.json
task-policy.json
dns-record.json
cert-validation-www.json
cert-validation.json


# OS
.DS_Store
Thumbs.db

# Docker
*.log
docker/dynamodb/*.db